# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
!build/classes/theater/Edit$1.class
!build/classes/theater/Edit$10.class
!build/classes/theater/Edit$11.class
!build/classes/theater/Edit$12.class
!build/classes/theater/Edit$13.class
!build/classes/theater/Edit$14.class
!build/classes/theater/Edit$15.class
!build/classes/theater/Edit$16.class
!build/classes/theater/Edit$17.class
!build/classes/theater/Edit$18.class
!build/classes/theater/Edit$19.class
!build/classes/theater/Edit$2.class
!build/classes/theater/Edit$20.class
!build/classes/theater/Edit$21.class
!build/classes/theater/Edit$22.class
!build/classes/theater/Edit$23.class
!build/classes/theater/Edit$24.class
!build/classes/theater/Edit$25.class
!build/classes/theater/Edit$26.class
!build/classes/theater/Edit$27.class
!build/classes/theater/Edit$28.class
!build/classes/theater/Edit$29.class
!build/classes/theater/Edit$3.class
!build/classes/theater/Edit$30.class
!build/classes/theater/Edit$31.class
!build/classes/theater/Edit$32.class
!build/classes/theater/Edit$4.class
!build/classes/theater/Edit$5.class
!build/classes/theater/Edit$6.class
!build/classes/theater/Edit$7.class
!build/classes/theater/Edit$8.class
!build/classes/theater/Edit$9.class
!build/classes/theater/Edit.class
!build/classes/theater/Emailvalidator.class
!build/classes/theater/Mainwindow$1.class
!build/classes/theater/Mainwindow$2.class
!build/classes/theater/Mainwindow$3.class
!build/classes/theater/Mainwindow$4.class
!build/classes/theater/Mainwindow$5.class
!build/classes/theater/Mainwindow$6.class
!build/classes/theater/Mainwindow$7.class
!build/classes/theater/Mainwindow.class
!build/classes/theater/ValidatePhoneNumber.class
!build/classes/theater/addmovie$1.class
!build/classes/theater/addmovie$2.class
!build/classes/theater/addmovie.class
!build/classes/theater/connector.class
!build/classes/theater/daftar$1.class
!build/classes/theater/daftar$10.class
!build/classes/theater/daftar$2.class
!build/classes/theater/daftar$3.class
!build/classes/theater/daftar$4.class
!build/classes/theater/daftar$5.class
!build/classes/theater/daftar$6.class
!build/classes/theater/daftar$7.class
!build/classes/theater/daftar$8.class
!build/classes/theater/daftar$9.class
!build/classes/theater/daftar.class
!build/classes/theater/editdata$1.class
!build/classes/theater/editdata$10.class
!build/classes/theater/editdata$11.class
!build/classes/theater/editdata$12.class
!build/classes/theater/editdata$13.class
!build/classes/theater/editdata$14.class
!build/classes/theater/editdata$2.class
!build/classes/theater/editdata$3.class
!build/classes/theater/editdata$4.class
!build/classes/theater/editdata$5.class
!build/classes/theater/editdata$6.class
!build/classes/theater/editdata$7.class
!build/classes/theater/editdata$8.class
!build/classes/theater/editdata$9.class
!build/classes/theater/editdata.class
!build/classes/theater/login$1.class
!build/classes/theater/login$2.class
!build/classes/theater/login$3.class
!build/classes/theater/login$4.class
!build/classes/theater/login$5.class
!build/classes/theater/login$6.class
!build/classes/theater/login.class
!build/classes/theater/menonton$1.class
!build/classes/theater/menonton$2.class
!build/classes/theater/menonton$3.class
!build/classes/theater/menonton.class
!build/classes/theater/Edit$1.class
!build/classes/theater/Edit$10.class
!build/classes/theater/Edit$11.class
!build/classes/theater/Edit$12.class
!build/classes/theater/Edit$13.class
!build/classes/theater/Edit$14.class
!build/classes/theater/Edit$15.class
!build/classes/theater/Edit$16.class
!build/classes/theater/Edit$17.class
!build/classes/theater/Edit$18.class
!build/classes/theater/Edit$19.class
!build/classes/theater/Edit$2.class
!build/classes/theater/Edit$20.class
!build/classes/theater/Edit$21.class
!build/classes/theater/Edit$22.class
!build/classes/theater/Edit$23.class
!build/classes/theater/Edit$24.class
!build/classes/theater/Edit$25.class
!build/classes/theater/Edit$26.class
!build/classes/theater/Edit$27.class
!build/classes/theater/Edit$28.class
!build/classes/theater/Edit$29.class
!build/classes/theater/Edit$3.class
!build/classes/theater/Edit$30.class
!build/classes/theater/Edit$31.class
!build/classes/theater/Edit$32.class
!build/classes/theater/Edit$4.class
!build/classes/theater/Edit$5.class
!build/classes/theater/Edit$6.class
!build/classes/theater/Edit$7.class
!build/classes/theater/Edit$8.class
!build/classes/theater/Edit$9.class
!build/classes/theater/Edit.class
!build/classes/theater/Emailvalidator.class
!build/classes/theater/Mainwindow$1.class
!build/classes/theater/Mainwindow$2.class
!build/classes/theater/Mainwindow$3.class
!build/classes/theater/Mainwindow$4.class
!build/classes/theater/Mainwindow$5.class
!build/classes/theater/Mainwindow$6.class
!build/classes/theater/Mainwindow$7.class
!build/classes/theater/Mainwindow.class
!build/classes/theater/ValidatePhoneNumber.class
!build/classes/theater/addmovie$1.class
!build/classes/theater/addmovie$2.class
!build/classes/theater/addmovie.class
!build/classes/theater/connector.class
!build/classes/theater/daftar$1.class
!build/classes/theater/daftar$10.class
!build/classes/theater/daftar$2.class
!build/classes/theater/daftar$3.class
!build/classes/theater/daftar$4.class
!build/classes/theater/daftar$5.class
!build/classes/theater/daftar$6.class
!build/classes/theater/daftar$7.class
!build/classes/theater/daftar$8.class
!build/classes/theater/daftar$9.class
!build/classes/theater/daftar.class
!build/classes/theater/editdata$1.class
!build/classes/theater/editdata$10.class
!build/classes/theater/editdata$11.class
!build/classes/theater/editdata$12.class
!build/classes/theater/editdata$13.class
!build/classes/theater/editdata$14.class
!build/classes/theater/editdata$2.class
!build/classes/theater/editdata$3.class
!build/classes/theater/editdata$4.class
!build/classes/theater/editdata$5.class
!build/classes/theater/editdata$6.class
!build/classes/theater/editdata$7.class
!build/classes/theater/editdata$8.class
!build/classes/theater/editdata$9.class
!build/classes/theater/editdata.class
!build/classes/theater/login$1.class
!build/classes/theater/login$2.class
!build/classes/theater/login$3.class
!build/classes/theater/login$4.class
!build/classes/theater/login$5.class
!build/classes/theater/login$6.class
!build/classes/theater/login.class
!build/classes/theater/menonton$1.class
!build/classes/theater/menonton$2.class
!build/classes/theater/menonton$3.class
!build/classes/theater/menonton.class
